body {
  background-color: black;
  color: white;

}

code {}

.head {
  /* background-color: black; */
  padding: 50px;
}

.menu {
  margin: 0;
  width: 100%;
}



@font-face {
  font-family: caprasimo;
  src: url(../public/Caprasimo-Regular.ttf);
}

.caprasimo {
  font-family: caprasimo;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;

}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 260px;
  background-color: black;
}

.logo {
  margin-top: 25px;
  width: 300px;
  height: 130px;
  
}
.fontSide{
  font-family: Arial, Helvetica, sans-serif;
}

.bigMenuImages {
  width: 100%;
  cursor: pointer;
  
}

.btn-add{
  border: 1px solid greenyellow;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center
}

.form-check-input:checked {
  background-color: greenyellow;
  border: greenyellow;
}

.cart{
  color:  greenyellow;
}


.plus {
  position: absolute;
  width: 72px;
  height: 72px;
  /* exercise start */
  top: 280px;
  left: 412px;
  font-size: 90px;
  font-weight: light;
  color: white;
  display: flex;
  /* exercise end */
}

.plus2 {
  position: absolute;
  width: 72px;
  height: 72px;
  /* exercise start */
  top: 280px;
  left: 846px;
  font-size: 90px;
  color: white;
  display: flex;
  /* exercise end */
}

