body {
 
}

code {
  
}
.head{
  background-color: black;
  padding: 50px;
}
@font-face {
  font-family: caprasimo;
  src: url(../public/Caprasimo-Regular.ttf);
}
.caprasimo{
  font-family: caprasimo;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 260px;
  background-color: black;
}
.img{
  margin-top: 25px;
  width: 230px;
  height:130px;
}


